/* Pie Chart */
.progress-pie-chart {
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    -webkit-print-color-adjust: exact;
    }
    .progress-pie-chart.gt-50 {
    background-color: #81CE97;
    -webkit-print-color-adjust: exact;
    }

    .ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
    -webkit-print-color-adjust: exact;
    }
    .ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #81CE97;
    transform: rotate(60deg);
    -webkit-print-color-adjust: exact;
    }
    .gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
    -webkit-print-color-adjust: exact;
    }
    .gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
    -webkit-print-color-adjust: exact;
    }

    .ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;
    background: #fff;
    text-align: center;
    display: table;
    -webkit-print-color-adjust: exact;
    }
    .ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97;
    -webkit-print-color-adjust: exact;
    }

    .pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
    -webkit-print-color-adjust: exact;
    }

    .progress-pie-chart {
    margin: 50px auto 0;
    -webkit-print-color-adjust: exact;
    }</style>
